.header {
  background-color: #393e46;
  color: #6d9886;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.25);
  z-index: 10;
}

.button {
  padding: 1.5%;
  margin: 1.5%;
  background-color: #393e46;
  color: #6d9886;
  border: 0;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
